<footer class="footer">
  <small>
    The <a href="https://railstutorial.jp/">hinoizu</a>
    by <a href="http://www.michaelhartl.com/">Hideo KAWAHARA</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "詳細",   about_path %></li>
      <li><%= link_to "お問合わせ", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">お知らせ</a></li>
    </ul>
  </nav>
</footer>